h1{
    color: #e85324;
    font-family: Campton;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
 
}
h2{
    color:#0f3641;
    font-family: Neuzeit Grotesk;
    font-weight: bold;
    text-align: center; 
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
}


h3{
    color:#e85324;
    font-family: Neuzeit Grotesk;
    font-weight: bold;
    text-align: center; 
    display: block;
    font-size: 3em; 
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}


.navbar{
    background-color: #e85324 !important;
    font-family: Campton;
    font-weight: bold;
    font-size: large;
    text-align: center !important;
    padding: 1%;
    margin-top: auto;

}
.navbar .navbar-nav .nav-link:hover{
    color: #0f3641;
    text-decoration:underline;
    
}
.icon {
    color: white;
    margin:  10px;
    margin-left:  10px;
   }

   .icon:hover {
    color: #0f3641;
}

ul {
    padding: 0;
    font-size: 1.154em;

}
li {
    display: inline-block;
}

title {
  display: none;
}

    
body{
    background: #f5f0dc;
  }
  

p{
    color:#0f3641;
    font-family: Neuzeit Grotesk;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
   
    
}
p2{
    color:#e85324;
    font-family: Neuzeit Grotesk;
    font-size: 2em;
    font-weight: bold;
    text-align: center; 
    display: block;
}
p3{
    color:#0f3641;
    font-family: Neuzeit Grotesk;
    font-size: 2em;
    font-weight: bold;
    text-align: center; 
    
}


.form-group {
    position:sticky;
    margin-bottom: 1.25rem;
  
}
.form-control {
    border-radius: 2;
    outline: 0;
    border: 0.5px solid;
    color: #e85324;
}
.form-control:focus{
	box-shadow: none;
    border-radius: 3;
    border: 2px solid;
    color: #0f3641;
}
.form-control-placeholder {
    position: center;
    transition: all 300ms;
    font-family: Neuzeit Grotesk;
    font-weight: bold;
    font-size: 100%;
    color: #e85324;
    
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
   font-size: 80%;
    transform: translate3d(0, -20%, 1);
    opacity: 1;
    top: 20px;
}
.btn-primary{
	border: none!important;
	background: #e85324!important;
	height: 75px!important;
    width: 350px;
    font-family: Campton;
    font-weight: 600;
    align-items: center;
    display: block;
}
.btn-primary span{
	color: #fff;
	font-size: 24px;
    text-align: center;
}
.btn-primary :hover{
    color: #0f3641;
    font-family: Campton;
    font-weight:900;
}
.svg{
    display: block;
    margin-left: auto;
    margin-right: auto ;   
}
div.item {
    vertical-align: top;
    text-align: center;
    float:left;
}

.caption {
    display: block;
    color:#0f3641;
    font-family: Neuzeit Grotesk;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    
}